.Day {
  padding: 0px;
  margin:0px;
  color: black;
  overflow: hidden;
  text-align: justify;
  position: relative;
}

.Day .main {
  width:100%;
  position: relative;
  
}

.Day .background {
  /* filter: blur(35px); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: rgba(1,1,1,0.8);  
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
}