.Stack {
  width: 100%;
  height: 100%;
  display: inline-block;
}

.Stack .FadeIn {
    animation-name: fade;
    animation-duration: 1s;
}

@keyframes fade {
  from {
    filter: blur(3px);
  }
  to {
  }
}